includes:
    - ./extension.neon

parameters:
    level: 9
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - message: '#Cannot access property \$value on mixed#'
          path: tests
